#Note {
  height: 100vh;
  flex-basis: 60%;
  background-color: var(--color3);
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  overflow: hidden;
}
.Note-Image {
  width: 80px;
  height: 80px;
}
.Note-Title {
  color: var(--color);
  font-family: Estedad;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Note-Text {
  width: 460px;
  height: 39px;
  color: var(--color);
  text-align: center;
  font-family: Estedad;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
