#nav-bar {
  flex-basis: 20%;
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
}

#nav-bar > header {
  padding: 30px 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.search-button {
  border: none;
  background: none;
  margin-right: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  color: var(--color);
}
.search-button svg:hover{
  opacity: 0.8;
}
.light-mode__btn{
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  color: var(--color);
}
.light-mode__btn svg{
  transition: all 200ms ease;
}
.light-mode__btn svg:hover{
  opacity: 0.8;
}
.new-note-button {
  width: 100%;
  border: none;
  display: flex;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  background: #d9614c;
  margin-top: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  gap: 8px;
  cursor: pointer;
  transition: all 300ms ease;
  border-radius: 5px;
}

.new-note-button:hover{
  background: #d2442b;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
  border-radius: 10px;
}
.last-notes-container h2 {
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  padding: 0 20px;
}

.last-notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  text-overflow: ellipsis;
}
.last-notes a{
  width: 100%;
}

.folders-container header {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}

.folders-container header h2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--color);
}

.new-folder-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 300ms ease;
  padding: 5px;
  border-radius: 4px;
  color: var(--color);
}
.new-folder-button:hover{
  background-color: var(--color4);
}
.new-folder-button img{
  width: 20px;
  height: 20px;
}
.nav-bar-new-folder{
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  gap: 15px;
  padding: 10px 20px;
}
.nav-bar-new-folder img{
  width: 20px;
  height: 20px;
}
.nav-bar-new-folder input{
  width: 100%;
  background-color: #f9d1a1;
  outline: none;
  border: none;
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
  transition: all 300ms ease;
}
.nav-bar-new-folder input:focus{
  outline: 2px solid var(--color);
  background: rgb(246, 216, 178);
}
.nav-bar-item {
  width: 100%;
  text-align: right;
  text-wrap: nowrap;
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  cursor: pointer;
  color: var(--color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  transition: all 200ms ease;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nav-bar-item--selected{
  background-color: var(--color4) !important;
}
.nav-bar-item:hover{
  background-color: var(--color3);
}
.nav-bar-item img{
  width: 20px;
  height: 20px;
}
.last-notes-container h2{
  color: var(--color);
}
